body {
    background: #b6b7bc;
    font-size: 12px;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #000000;
}

a:link, a:visited {
    color: #63666A;
}

a:hover {
    color: #1d60ff;
    text-decoration: none;
}

a:active {
    color: #63666A;
}

p {
    margin-bottom: 10px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
    font-size: 1.5em;
    /*color: #666666;*/
    color: Black;
    /*font-variant: small-caps;*/
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1 {
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2 {
    font-size: 1.3em;
    font-weight: 500;
    color: #B94700;
}

h3 {
    font-size: 1.0em;
    font-weight: bold;
    color: #004C97;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

hr {
    border-color: #CB6015;
    border-width: 0px 0px 1px 0px;
}

.page {
    width: 98%;
    background-color: #fff;
    margin: 20px auto 0px auto;
    border: 1px solid #496077;
    border-radius: 5px;
}

main {
    padding: 0px 12px;
    margin: 12px 8px 8px 8px;
    min-height: 420px;
}
